a.out
lib/
src/*.o
src/Algo.o
src/Cell.o
src/Config.o
src/Contact.o
src/globalfunctions.o
src/Interactions.o
src/Particle.o
src/Sample.o
src/Tenseur.o
src/Vecteur.o
exec/BPDEM2D.o
exec/DEMARENA.o
src/*.swp
include/*.swp
exec/*.swp
test/sample/*
test/network/*
test/analyse/*
test/framespng
test/cell/*
